
/* ajustement pour grille flottant*/
.clearfix{
	overflow: auto;
	zoom: 1;
}

.lineBreak{
	clear:both;
}

/* Ajustement pour grille inline block */

.whiteSpace{
	font-size: 0;
}

/* Ajustement des marges des grilles */

.delStartRow{
	margin-left:-1%;
}

.delEndRow{
	margin-right:-1%;
}

.delTopRow{
	margin-top: -1%;
}

.addMargTopBotRow{
	margin:2rem 0;
}


//  ligne d'une grille

.row{
	width:100%;
	margin:1em 0;
}

/* faire disparaitre un block */

.disappearLg{
	@media screen and (max-width:55em){
		display:none;
	}
}

.disappearMd{
	@media screen and (max-width:35em){
		display:none;
	}
}






