body{
	z-index:100;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	width:$widthBody;
	color:$colorBody;
}

.containerPage{
	width:$widthBody;
	background-image: url("../img/fond2.jpg");
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

.pagePrincip{
	vertical-align:top;
	@include border-radius(10px);
}

.containerTxtImg{
	width: 100%;
	padding:1rem;
	@include border-radius(3px);

	& > img{
		max-width: 100%;
	}
	& > span{
		& > img{
			width: 15%;
			height:15%;
		}
	}
}





